<!DOCTYPE html>
<html lang = "en"
	xmlns:th="http://www.thymeleaf.org"
>

<div th:replace="guest/header :: header"></div>

<body>

<div th:replace="guest/header :: navbar"></div>

<div class="container">
		<div class="row">
			<h1>Cart</h1>
		</div>
		
	<div class="row">
		<div class="col-md-5">
			<a th:href="@{/guest/userproducts/purchase}" class="btn btn-primary">Purchase</a>
		</div>	
	</div>
	<br/>	
	<table class="table table-striped table-hover table-bordered">
		<thead class = "table-dark">
			<th style "width:5%">#</th>
			<th style "width:15%">Name</th>
			<th style "width:20%">Description</th>
			<th style "width:10%">Price</th>
			<th style "width:30%">Picture</th>
			<th style "width:20%">Actions</th>
		</thead>
		<tbody>
			<tr th:each = "userproducts, userproductStat : ${userproducts}">
				<td th:text="${userproductStat.count}">1</td>
				<td th:text="${userproducts.name}">product name</td>
				<td th:text="${userproducts.description}">product description</td>
				<td th:text="${userproducts.price}">0.00</td>
				<td id="Image-Cell">
					<img alt="Product Image" th:src="*{'data:image/jpeg;base64,'+{userproducts.verificationPicture}}" style="width:200px; height:300px;">
				</td>
				<td>
					<a th:href="@{/guest/userproducts/{userproductId}/uncart(userproductId=${userproducts.id})}" class="btn btn-danger">Remove from Cart</a>
				</td>
			</tr> 
		</tbody>	
	</table>	
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>